@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&family=Permanent+Marker&family=Play:wght@400;700&family=Shadows+Into+Light+Two&display=swap');

h1, h2, h3 {
    /* color: #25292C; */
    color: #1A313C;
}

/* SITE LOGO & TAG LINE */
.logo-tagline {
    text-align: center;
    height: auto;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 4vw;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
}

#statement-green {
    color: #EFB542;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
    font-size: 2vw;
}

.logo-link:hover{
    text-decoration: none;
    
}

/* NAVIGATION BAR */
#nav {
    text-align: center;
    height: auto;
}

.nav-bar {
    color: #1A313C;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 5px 70px;
}

.nav-bar:hover{
    text-decoration: none;
    color: #EFB542;
}

.display-mobile {
    display: none;
}

/* HERO IMAGE */
.hero-page {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background: url(../images/gallery-wall.jpg) no-repeat;
    background-size: 100%;
    background-position-x: 0px;
    background-position-y: -717px;
    contain: content;
}

/* SOCIAL LINKS */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #1A313C;
}

#social a:hover {
    color: #EFB542;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}

/* BLOG: ALL POSTS */
.blog-posts-area {
    height: auto;
    margin: 0 auto;
    width: 90%;
}

.all-posts-post-box {
    box-sizing: border-box;
    border: 1px solid #1A313C;
    border-radius: 2%;
    padding: 20px;
    margin: 0 0 0 0;
}
.all-posts-post-box img{
    width: 90%;
}

.next-page {
    clear: both;
}

/* SINGLE BLOG POST PAGE */
.single-blog-post {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.single-blog-post h1{
    margin: 40px auto;
    color: #EFB542;
    font-size: 3em;
    text-transform: uppercase;
}

.single-blog-author {
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
}

.single-blog-bodytext {
    font-family: 'Kanit', sans-serif;
}

.single-blog-img {
    contain: content;
}

.single-blog-img img{
    width: 100%;
}

.like-button,
.like-button-pressed {
    background: none;
    border: none;
}

.like-button-pressed i {
    color: #2B1633;
}

.single-post-comments {
    margin: 20px auto;
}

.single-post-comments h3 {
    margin-top: 20px;
}


/* @media screen and (min-width:1600px){}

@media screen and (min-width:1500px){} */

/* Desktops, large screens. */
@media screen and (max-width:1200px){
    /* Navigation bar */
    .nav-bar {
        padding: 5px 40px;
    }

    .hero-page {
        background-position-y: -420px;
    }
}

/* For medium screen sizes from 950px wide & down (smaller laptops & tablets) */
@media screen and (max-width:950px){
    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    /* NAVIGATION BAR */
    #nav {
        height: 20px;
    }

    .nav-bar {
        font-size: 1em;
        padding: 5px 38px;
    }

    .hero-page {
        background-position-y: -265px;
    }

    /* SINGLE BLOG POST PAGE */
    .single-blog-post h1{
        margin: 20px auto;
        font-size: 2em;
    }

    .single-blog-author h2{
        font-size: 1.4em;
    }

}

/* iPads, Tablets. */
@media screen and (max-width:768px){

    .nav-bar {
        font-size: 1em;
        padding: 5px 12px;
    }

    .hero-page {
        height: 400px;
        background-position-y: -250px;
    }
}

/* Mobile devices. */
@media screen and (max-width:480px){

    /* Header */
    .logo-tagline {
        height: 53px;
    }

    h1 {
        font-size: 1.7em;
    }

    /* Nav bar */
    .vanish-mobile {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .menu-btn-container {
        text-align: center;
        padding-top: 15px;
    }

    .menu-btn-container li{
        text-align: center;
    }

    .menu-btn {
        padding: 0;
        border: none;
        font-family: 'Kanit', sans-serif;
        background: none;
        color: #1A313C;
    }

    .btn-secondary:hover {
        border: none;
        background: none;
        color: #1A313C;
    }

    /* Hero image */
    .hero-page {
        height: 307px;
        background-position-y: -25px;
    }
}
