@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&family=Permanent+Marker&family=Play:wght@400;700&family=Shadows+Into+Light+Two&display=swap');

h1, h2, h3 {
    /* color: #25292C; */
    color: #1A313C;
}

/* SITE LOGO & TAG LINE */
.logo-tagline {
    text-align: center;
    height: auto;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 4vw;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
}

#statement-green {
    color: #EFB542;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
    font-size: 2vw;
}

.logo-link:hover{
    text-decoration: none;
    
}

/* NAVIGATION BAR */
#nav {
    text-align: center;
    height: auto;
}

.nav-bar {
    color: #1A313C;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 5px 70px;
}

.nav-bar:hover{
    text-decoration: none;
    color: #EFB542;
}

.display-mobile {
    display: none;
}

/* SOCIAL LINKS */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #1A313C;
}

#social a:hover {
    color: #EFB542;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}

/* HERO IMAGE */
/* .hero-page {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background: url(../images/gallery-wall.jpg) no-repeat;
    background-size: 100%;
    background-position-x: 0px;
    background-position-y: -717px;
    contain: content;
} */

.hero-page {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    contain: content;
}

.hero-page img {
    width: 100%;
    height: auto;
    position: relative;
    top: -500px;
}

/* ABOUT PAGE */
.about-page {
    width: 90%;
    margin: auto;
}

/* .about-image {
    height: 600px;
    margin: 0 auto;
    background: url(../images/three-frames.jpg) no-repeat;
    background-size: 100%;
    contain: content;
} */

.about-image {
    height: 600px;
    margin: 0 auto;
    contain: content;
}

.about-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: -28px;
}

.about-page h2 {
    font-family: 'Kanit', sans-serif;
    color: #EFB542;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -13px;
}

.about-page p {
    font-size: 1.2em;
    letter-spacing: 1px;
}

/* ARTPRINTS: ALL PRINTS */
.print-display {
    align-items: center;
}

.all-prints-cards h2,
.single-print-card h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-transform: uppercase;
}
.all-prints-cards p,
.single-print-card p {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 3px 0;
}

/* NEW SUBMISSION BOX */
.new-submission {
    justify-content: center;
    text-align: center;
}

/* PRINT SUBMISSION PAGE/FORM */
.submission-form {
    justify-content: center;
}

.single-print-card {
    line-height: 40px;
}

/* BLOG: ALL POSTS */
.blog-posts-area,
.art-prints-area,
.single-print-area {
    height: auto;
    margin: 0 auto;
    width: 90%;
}

.post-row {
    justify-content: space-between;
}

.main-posts {
    order: 2;
}

.left-posts {
    order: 1;
}

.right-posts {
    order: 3;
}

.all-blog-images img {
    width: 100%;
}

.all-posts-post-box {
    box-sizing: border-box;
    border: 0.5px solid #1A313C;
    border-radius: 2%;
    padding: 20px;
    margin: 10px;
}
.all-posts-post-box img{
    width: 100%;
}

.all-posts-post-box h2{
    font-size: 2.5em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #EFB542;
    letter-spacing: 1px;
}

.all-posts-post-box h3{
    font-size: 1.4em;
}

.all-posts-post-box p{
    font-size: 1.2em;
}

.next-page {
    clear: both;
}

/* SINGLE BLOG POST PAGE */
.single-blog-post {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.single-blog-post h1{
    margin: 40px auto;
    color: #EFB542;
    font-size: 3em;
    text-transform: uppercase;
}

.single-blog-author {
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
}

.single-blog-bodytext {
    font-family: 'Kanit', sans-serif;
}

.single-blog-img {
    contain: content;
}

.single-blog-img img{
    width: 100%;
}

.like-button,
.like-button-pressed {
    background: none;
    border: none;
}

.like-button-pressed i {
    color: #2B1633;
}

.single-post-comments {
    margin: 20px auto;
}

.single-post-comments h3 {
    margin-top: 20px;
}

/* LOGIN - LOGOUT - REGISTER */
.login-out-register {
    margin: auto;
    border: 0.5px solid #1A313C;
    padding: 30px;
    border-radius: 10px;
}

.login-out-register h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2.5em;
    text-transform: lowercase;
    color: #EFB542;
}

.login-out-register p {
    font-size: 1.2em;
}

/* SITE BUTTONS: */
.login-register-button,
.pagination-button,
.submit-comment-button,
.submit-print-button,
.edit-delete-button {
    background: #1A313C;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 0 10px;
}

.next-prev-button {
    justify-content: center;
}

/* @media screen and (min-width:1600px){}

@media screen and (min-width:1500px){} */

/* Desktops, large screens. */
@media screen and (max-width:1200px){
    /* NAV BAR */
    .nav-bar {
        padding: 5px 40px;
    }

    .hero-page {
        background-position-y: -420px;
    }

    /* BLOG PAGE */
    .main-posts {
        order: 1;
    }
}

/* For medium screen sizes from 950px wide & down (smaller laptops & tablets) */
@media screen and (max-width:950px){
    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    /* NAVIGATION BAR */
    #nav {
        height: 20px;
    }

    .nav-bar {
        font-size: 1em;
        padding: 5px 38px;
    }

    /* .hero-page {
        background-position-y: -265px;
    } */
    .hero-page img {
        top: -323px;
    }
    
    /* SINGLE BLOG POST PAGE */
    .single-blog-post h1{
        margin: 20px auto;
        font-size: 2em;
    }

    .single-blog-author h2{
        font-size: 1.4em;
    }

}

/* iPads, Tablets. */
@media screen and (max-width:768px){
    /* NAV BAR */
    .nav-bar {
        font-size: 1em;
        padding: 5px 12px;
    }

    /* HERO IMAGE */
    .hero-page {
        height: 400px;
        /* background-position-y: -250px; */
    }

    .hero-page img {
        top: -170px;
    }

    /* ABOUT PAGE */
    .about-page h2 {
        margin-top: 0px;
    }
    
    .about-image {
        height: 325px;
    }

    .about-page img {
        position: static;
    }

    /* BLOG PAGE */
    .main-posts {
        order: 1;
    }
}

/* Mobile devices. */
@media screen and (max-width:480px){

    /* HEADER */
    .logo-tagline {
        height: 53px;
    }

    h1 {
        font-size: 1.7em;
    }

    /* NAV BAR */
    .vanish-mobile {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .menu-btn-container {
        text-align: center;
        padding-top: 15px;
    }

    .menu-btn-container li{
        text-align: center;
    }

    .menu-btn {
        padding: 0;
        border: none;
        font-family: 'Kanit', sans-serif;
        background: none;
        color: #1A313C;
    }

    .btn-secondary:hover {
        border: none;
        background: none;
        color: #1A313C;
    }

    /* HERO IMAGE */
    .hero-page {
        height: 307px;
        /* background-position-y: -25px; */
    }

    .hero-page img {
        top: -25px;
    }

    /* ABOUT PAGE */
    .about-image {
        height: 220px;
    }
}
