@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&family=Permanent+Marker&family=Play:wght@400;700&family=Shadows+Into+Light+Two&display=swap');

h1, h2, h3 {
    /* color: #25292C; */
    color: #1A313C;
}

/* Site logo & tagline */
.logo-tagline {
    text-align: center;
    height: auto;
}

h1 {
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Play', sans-serif;
    font-weight: 700; */
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 4vw;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
}

#statement-green {
    color: #EFB542;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
    font-size: 2vw;
}

.logo-link:hover{
    text-decoration: none;
    
}

/* Navigation bar */
#nav {
    text-align: center;
    height: auto;
}

.nav-bar {
    color: #1A313C;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 5px 10px;
}

.nav-bar:hover{
    text-decoration: none;
    color: #EFB542;
}

.display-mobile {
    display: none;
}

/* Hero image */
.hero-page {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background: url(../images/gallery-wall.jpg) no-repeat;
    background-size: 100%;
    background-position-x: 0px;
    background-position-y: -717px;
    contain: content;
}

/* Blog: all posts */
/* .main-post {
    margin: 0 auto;
} */
.left-posts {
    float: left;
}
.right-posts {
    float: right;
}

/* Social links */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #1A313C;
}

#social a:hover {
    color: #EFB542;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}

/* @media screen and (min-width:1600px){}

@media screen and (min-width:1500px){} */

/* Desktops, large screens. */
/* @media screen and (max-width:1200px){} */

/* For medium screen sizes from 950px wide & down (smaller laptops & tablets) */
@media screen and (max-width:950px){
    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    /* Navigation bar */
    #nav {
        height: 20px;
    }
    
    .nav-bar {
        font-size: 1em;
    }

}

/* iPads, Tablets. */
@media screen and (max-width:768px){
    .hero-page {
        height: 400px;
        background-position-y: -250px;
    }
}

/* Mobile devices. */
@media screen and (max-width:480px){

    /* Header */
    .logo-tagline {
        height: 53px;
    }

    h1 {
        font-size: 1.7em;
    }

    /* Nav bar */
    .vanish-mobile {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .menu-btn-container {
        text-align: center;
        padding-top: 15px;
    }

    .menu-btn-container li{
        text-align: center;
    }

    .menu-btn {
        padding: 0;
        border: none;
        font-family: 'Kanit', sans-serif;
        background: none;
        color: #1A313C;
    }

    .btn-secondary:hover {
        border: none;
        background: none;
        color: #1A313C;
    }

    /* Hero image */
    .hero-page {
        height: 307px;
        background-position-y: -25px;
    }
}
