{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bringing artists & art enthusiasts together.">
    <meta name="keywords" content="Print statements, artists, art, printing">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images-pagetab/apple-touch-icon.png' %">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images-pagetab/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images-pagetab/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images-pagetab/favicon.ico' %}" />
    <link rel="manifest" href="/site.webmanifest">
    <title>Print(Statements)</title>
</head>

<body>

    <header>
        <!-- SITE LOGO & TAGLINE -->
        <div class="logo-tagline">
            <a href="{% url 'home' %}" class="logo-link">
                <h1>print(<span id="statement-green">STATEMENTS</span>)</h1>
            </a>
            <h3>What does yours say?</h3>
        </div>
        <!-- NAVBAR COLLAPSE: MOBILE VIEW -->
        <div class="dropdown-center display-mobile menu-btn-container">
            <button class="btn btn-secondary dropdown-toggle menu-btn" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i> menu
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownCenterBtn">
                <li>
                    <a href="{% url 'home' %}" class="nav-bar">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="nav-bar">About</a>
                </li>
                <li>
                    <a href="{% url 'prints' %}" class="nav-bar">Prints</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}" class="nav-bar">Blog</a>
                </li>

                {% if user.is_authenticated %}
                <li>
                    <a class="nav-bar" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-bar" href="{% url 'account_login' %}">Login / Sign up</a>
                </li>
                {% endif %}
            </ul>
          </div>
        <hr>

        <!-- NAVIGATION BAR -->
        <div class="row vanish-mobile">
            <div class="col">
                <ul id="nav" class="list-inline">
                    <li class="list-inline-item">
                        <a href="{% url 'home' %}" class="nav-bar">Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'about' %}" class="nav-bar">About</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'prints' %}" class="nav-bar">Prints</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'blog' %}" class="nav-bar">Blog</a>
                    </li>

                    <!-- If statement taken from "I think therefore I blog" walkthrough -->
                    {% if user.is_authenticated %}
                    <li class="list-inline-item">
                        <a class="nav-bar" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <!-- <li class="list-inline-item col-md-2">
                        <a class="nav-bar" href="{% url 'account_signup' %}">Register</a>
                    </li> -->
                    <li class="list-inline-item">
                        <a class="nav-bar" href="{% url 'account_login' %}">Login / Sign up</a>
                    </li>
                    {% endif %}
                    <!-- <li class="list-inline-item col-md-2">
                        <a href="#" class="nav-bar">Contact us</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <hr class="vanish-mobile">
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <hr>

    <footer>
        <!--SOCIAL LINKS-->
        <div class="row">
            <div class="col social-icons">
                <ul id="social" class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://youtube.com" target="_blank" rel="noopener"
                            aria-label="Visit our YouTube page (opens in a new tab)">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/CluelessBiker" target="_blank" rel="noopener"
                            aria-label="Visit my Github page (opens in a new tab)">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/lauren-nicole-popich-1ab87539/" target="_blank"
                            rel="noopener" aria-label="Visit my Linkedin page (opens in a new tab)">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- LOCATION & DISCLAIMER -->
        <div class="footer-text">
            <p>Athens, Greece<br>Project created for educational purposes only.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/7daaaf94bb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

</body>

</html>