{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bringing artists & art enthusiasts together.">
    <meta name="keywords" content="Print statements, artists, art, printing">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="assets/images-pagetab/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images-pagetab/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images-pagetab/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images-pagetab/favicon.ico" /> -->
    <link rel="manifest" href="/site.webmanifest">
    <title>Print(Statements)</title>
</head>

<body>

    <header>
        <!-- Company logo & tagline -->
        <div class="logo-tagline">
            <a href="{% url 'home' %}" class="logo-link">
                <h1>print(<span id="statement-green">STATEMENTS</span>)</h1>
            </a>
            <div class="row center-burger-tag">
                <div class="col-1 display-mobile"><i class="fa-solid fa-bars"></i></div>
                <div class="col-7"><h3>What does yours say?</h3></div>
                
            </div>
        </div>
        <hr>

        <!-- Navigation bar -->
        <div class="row vanish-mobile">
            <div class="col">
                <ul id="nav" class="list-inline">
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a href="{% url 'home' %}" class="nav-bar">Home</a>
                    </li>
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a href="#" class="nav-bar">About</a>
                    </li>
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a href="#" class="nav-bar">Prints</a>
                    </li>
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a href="{% url 'blog' %}" class="nav-bar">Blog</a>
                    </li>
                
                    <!-- If statement taken from "I think therefore I blog" walkthrough -->
                    {% if user.is_authenticated %}
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a class="nav-bar" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <!-- <li class="list-inline-item col-md-2">
                        <a class="nav-bar" href="{% url 'account_signup' %}">Register</a>
                    </li> -->
                    <li class="list-inline-item col-xs-6 col-md-2">
                        <a class="nav-bar" href="{% url 'account_login' %}">Login / Sign up</a>
                    </li>
                    {% endif %}
                    <!-- <li class="list-inline-item col-md-2">
                        <a href="#" class="nav-bar">Contact us</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <hr class="vanish-mobile">
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <hr>

    <footer>
        <!--Social links-->
        <div class="row">
            <div class="col social-icons">
                <ul id="social" class="list-inline">
                    <li  class="list-inline-item">
                        <a href="https://facebook.com" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li  class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li  class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li  class="list-inline-item">
                        <a href="https://youtube.com" target="_blank" rel="noopener"
                            aria-label="Visit our YouTube page (opens in a new tab)">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li  class="list-inline-item">
                        <a href="https://github.com/CluelessBiker" target="_blank" rel="noopener" aria-label="Visit my Github page (opens in a new tab)">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li  class="list-inline-item">
                        <a href="https://www.linkedin.com/in/lauren-nicole-popich-1ab87539/" target="_blank" rel="noopener" aria-label="Visit my Linkedin page (opens in a new tab)">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-text">
            <p>Athens, Greece<br>Project created for educational purposes only.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/7daaaf94bb.js" crossorigin="anonymous"></script>

</body>

</html>