{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- TITLE -->
<div class="row single-blog-post">
    <h1 class="name">{{ post.title }}</h1>
</div>

<div class="row single-blog-post">
    <!-- AUTHOR - CONTENT -->
    <div class="col-md-7">
        <div class="row">
            <div class="col single-blog-author">
                <h2 class="title">{{ post.author }} | {{ post.created_on }}</h2>
            </div>
        </div>
        <div class="row single-blog-bodytext">
            <p>{{ post.content | safe }}</p>
        </div>
    </div>

    <div class="col-md-5 single-blog-img">
        <!-- BLOG POST IMAGE -->
        <div class="row">
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="default image">
            {% else %}
            <img src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
        
        <!-- LIKES & COMMENTS -->
        <div class="row">
            <!-- POST LIKES -->
            <div class="col-2 likes-comments">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'like_post' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                            class="like-button-pressed"><i class="fas fa-heart"></i> {{ post.number_of_likes }}</button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="like-button"><i
                                class="far fa-heart"></i> {{ post.number_of_likes }}</button>
                        {% endif %}
                    </form>

                    {% else %}
                    <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                    {% endif %}
                </strong>
            </div>

            <!-- # OF POST COMMENTS -->
            <div class="col-3 likes-comments">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i> {{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>

        <!-- SUBMIT COMMENT -->
        {% if user.is_authenticated %}
        <div class="row">
            <!-- card modified from django walkthrough -->
            <div class="card col single-post-comments">
                <div class="card-body">                    
                    <h3>Add your two cents:</h3>
                    <form method="POST" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="submit-comment-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- PUBLISHED COMMENTS -->
        <div class="row">
            <!-- card modified from django walkthrough -->
            <div class="card col single-post-comments">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}