{% extends 'base.html' %}

{% block content %}
<!-- <div class="squareone"></div>
<div class="squaretwo"></div>
<div class="squarethree"></div>
<div class="squarefour"></div>
<div class="squarefive"></div> -->

{% for post in blogpost_list %}

{% if forloop.counter == 2 %}
<div class="all-posts-post-box left-posts">
    <h2>{{ post.title }}</h2>
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="default image">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.excerpt }}</p>
    <div all the rest>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.created_on}}</p>
        <div><i class="far fa-heart"></i>{{ post.number_of_likes }}</div>
    </div>
</div>

{% elif forloop.counter == 4 %}
<div class="all-posts-post-box right-posts">
    <h2>{{ post.title }}</h2>
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="default image">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.excerpt }}</p>
    <div all the rest>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.created_on}}</p>
        <div><i class="far fa-heart"></i>{{ post.number_of_likes }}</div>
    </div>
</div>

{% elif forloop.counter == 1 %}
<div class="all-posts-post-box main-posts">
    <h2>{{ post.title }}</h2>
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="default image">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.excerpt }}</p>
    <div all the rest>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.created_on}}</p>
        <div><i class="far fa-heart"></i>{{ post.number_of_likes }}</div>
    </div>
</div>

{% elif forloop.counter == 5 %}
<div class="all-posts-post-box second-left-posts">
    <h2>{{ post.title }}</h2>
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="default image">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.excerpt }}</p>
    <div all the rest>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.created_on}}</p>
        <div><i class="far fa-heart"></i>{{ post.number_of_likes }}</div>
    </div>
</div>

{% else %}
<div class="all-posts-post-box second-right-posts">
    <h2>{{ post.title }}</h2>
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://images.pexels.com/photos/4065183/pexels-photo-4065183.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="default image">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.excerpt }}</p>
    <div all the rest>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.created_on}}</p>
        <div><i class="far fa-heart"></i>{{ post.number_of_likes }}</div>
    </div>
</div>

{% endif %}
{% endfor %}

<div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}