{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="col-12 single-print-area">
    <!-- TITLE & IMAGE -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body single-print-card">
                    <h2>{{ print.print_name }}</h2>
                    <hr />
                    <div class="image-container">
                        <img class="card-img-top" src="{{ print.artwork_image.url }}" alt="{{ print.print_name }}">
                    </div>
                </div>
            </div>
        </div>


    <!-- PRINT DETAILS -->

        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body single-print-card">
                    <p>Artist: {{ print.artist }}</p>
                    <hr />
                    <p>remaining copies: {{ print.remaining_copies }}/{{ print.print_run }}</p>
                    <p>Price: €{{ print.price }}</p>
                    <p>Dimensions: W {{ print.print_width }}cm x H {{ print.print_height }}cm</p>
                    <p>Style: {{ print.category }}</p>
                    <p>Description: {{ print.description | safe }}</p>
                    <!-- PRINT LIKES -->
                    <div class="likes-comments">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'like_print' print.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" , name="artprint_id" value="{{ print.slug }}"
                                    class="like-button-pressed"><i class="fas fa-heart"></i> {{ print.number_of_likes }}</button>
                                {% else %}
                                <button type="submit" , name="artprint_id" value="{{ print.slug }}" class="like-button"><i
                                        class="far fa-heart"></i> {{ print.number_of_likes }}</button>
                                {% endif %}
                            </form>

                            {% else %}
                            <p><strong class="text-secondary"><i class="far fa-heart"></i> {{ print.number_of_likes }}</strong></p>
                            {% endif %}

                            {% if request.user == print.artist %}
                            <hr>
                            <a href="#">
                                <button class="edit-delete-button">EDIT</button>
                            </a>
                            <a href="#">
                                <button class="edit-delete-button">DELETE</button>
                            </a>
                            {% endif %}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}