{% extends 'base.html' %}

{% block content %}

<!-- ART PRINTS -->
<div class="col-12 blog-print-posts-area">
    <div class="row print-display">
        {% for print in artprint_list %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-4">
                <div class="card-body all-prints-cards">
                    <div class="image-container">
                        <img class="card-img-top" src="{{ print.artwork_image.url }}" alt="{{ print.print_name }}">
                        <div class="image-flash">
                            <p>Artist: {{ print.artist }}</p>
                        </div>
                    </div>
                    <a href="#" class="print-link">
                        <h2>{{ print.print_name }}</h2>
                    </a>
                    <hr />
                    <p>remaining copies: {{ print.remaining_copies }}/{{ print.print_run }}</p>
                    <p>Price: €{{ print.price }}</p>
                    <p class="card-text text-muted h6"><i class="far fa-heart"></i> {{ print.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row print-display">
        {% endif %}
        {% endfor %}
    </div>

    <br>

    <div class="row next-prev-button">
        {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <button class="pagination-button">PREV</button>
            </a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <button class="pagination-button">NEXT</button>
            </a>
            {% endif %}
        </div>
    {% endif %}
    </div>
</div>

{%endblock%}